# Configuración de Base de Datos PostgreSQL (Neon DB o Supabase / PostgreSQL local)
DATABASE_URL="postgresql://usuario:password@host:5432/polla_betplay?sslmode=require"
DIRECT_URL="postgresql://usuario:password@host:5432/polla_betplay?sslmode=require"

# URL base de la aplicación en Hostinger / Dominio
NEXT_PUBLIC_APP_URL="https://tudominio.com"

# Servicio de Correo Electrónico (Resend API)
RESEND_API_KEY="tu_resend_api_key"
